In [2]:
import pandas as pd 
df=pd.read_csv("Data\Raw data\happiness_indicators.csv")

In [3]:
df

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [19]:
columns =["Country","Family","Health..Life.Expectancy.","Freedom","Economy..GDP.per.Capita.","Trust..Government.Corruption."]

In [20]:
filter_df=df[columns]

In [21]:
display(filter_df)

,Country,Family,Health..Life.Expectancy.,Freedom,Economy..GDP.per.Capita.,Trust..Government.Corruption.
0,Norway,1.533524,0.796667,0.635423,1.616463,0.315964
1,Denmark,1.551122,0.792566,0.626007,1.482383,0.400770
2,Iceland,1.610574,0.833552,0.627163,1.480633,0.153527
3,Switzerland,1.516912,0.858131,0.620071,1.564980,0.367007
4,Finland,1.540247,0.809158,0.617951,1.443572,0.382612
...,...,...,...,...,...,...
150,Rwanda,0.945707,0.326425,0.581844,0.368746,0.455220
151,Syria,0.396103,0.500533,0.081539,0.777153,0.151347
152,Tanzania,1.041990,0.364509,0.390018,0.511136,0.066035
153,Burundi,0.629794,0.151611,0.059901,0.091623,0.084148
154,Central African Republic,0.000000,0.018773,0.270842,0.000000,0.056565

In [22]:
unique_countries = filter_df['Country'].unique()

In [23]:
country_ids = {country: idx for idx, country in enumerate(unique_countries, start=1)}

In [24]:
country_df = pd.DataFrame(list(country_ids.items()), columns=['Country', 'ID'])

In [25]:
country_df

                      Country   ID
0                      Norway    1
1                     Denmark    2
2                     Iceland    3
3                 Switzerland    4
4                     Finland    5
..                        ...  ...
150                    Rwanda  151
151                     Syria  152
152                  Tanzania  153
153                   Burundi  154
154  Central African Republic  155

[155 rows x 2 columns]

In [26]:
filter_df['Country_ID'] = filter_df['Country'].map(country_ids)

C:\Users\User\AppData\Local\Temp\ipykernel_2224\1199354972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df['Country_ID'] = filter_df['Country'].map(country_ids)

In [27]:
filter_df.drop('Country', axis=1, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_2224\3555476147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df.drop('Country', axis=1, inplace=True)

In [28]:
filter_df

,Family,Health..Life.Expectancy.,Freedom,Economy..GDP.per.Capita.,Trust..Government.Corruption.,Country_ID
0,1.533524,0.796667,0.635423,1.616463,0.315964,1
1,1.551122,0.792566,0.626007,1.482383,0.400770,2
2,1.610574,0.833552,0.627163,1.480633,0.153527,3
3,1.516912,0.858131,0.620071,1.564980,0.367007,4
4,1.540247,0.809158,0.617951,1.443572,0.382612,5
...,...,...,...,...,...,...
150,0.945707,0.326425,0.581844,0.368746,0.455220,151
151,0.396103,0.500533,0.081539,0.777153,0.151347,152
152,1.041990,0.364509,0.390018,0.511136,0.066035,153
153,0.629794,0.151611,0.059901,0.091623,0.084148,154
154,0.000000,0.018773,0.270842,0.000000,0.056565,155

In [29]:
filter_df.to_csv("Data\clean Data\happiness_indicators.csv",index=False)

In [31]:
country_df.to_csv("Data\clean Data\Countries.csv",index=False)